{% extends "base.html" %}


{% block main %}

<p>Welcome, {{ user.customer.full_name }}.</p>

<h3>Account Details</h3>

<table>
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Balance</th>
    </tr>
    <tr>
        <td>{{ account.pk }}</td>
        <td>{{ account.name }}</td>
        <td class="amount">{{ balance|floatformat:"2" }}</td>
    </tr>
</table>

<h3>Account Transactions</h3>

<table>
    <tr>
        <th>Transaction UID</th>
        <th>Amount</th>
        <th>Date and Time</th>
        <th>Text</th>
    </tr>
    {% for movement in movements %}
    <tr>
        <td><a href="{% url 'bank:transaction_details' movement.transaction %}">{{ movement.transaction }}</a></td>
        <td>{{ movement.amount|floatformat:"2" }}</td>
        <td>{{ movement.timestamp }}</td>
        <td>{{ movement.text }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
