{% extends 'base.html' %}

{% block main %}

<h3>Customer Details</h3>

<form action="{% url 'bank:staff_customer_details' customer.pk %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ user_form }}
        {{ customer_form }}
    <button>Update User</button>
    </fieldset>
</form>

<table>
    <thead>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Account Balance</th>
    </thead>
    <tbody id="account-list" hx-swap="outerHTML" hx-get="{% url 'bank:staff_account_list_partial' customer.pk %}" hx-trigger="load">
    </tbody>
<table>

{% endblock %}
