<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'holiday.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}" media="screen">
    <title>KEA Bank</title>
</head>
<body>

    {% load l10n %}

    <header>
    {% block header %}
    <h1>KEA Bank</h1>
    {% if user.is_staff %}
    <h2>Bank Staff Portal</h2>
    {% else %}
    <h2>Bank Customer Portal</h2>
    {% endif %}
    {% endblock %}
    </header>

    <nav>
        {% block nav %}
        <ul>
            <li><a href="{% url 'bank:index' %}">Home</a></li>
            <li>
                <span>Menu</span>
                <ul>
                    <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                </ul>
            </li>
            <li><a href="{% url 'bank:make_loan' %}">Make Loan</a></li>
        </ul>
    {% endblock %}
    </nav>

    <main>
    {% block main %}
    {% endblock %}
    </main>

    <footer>
    {% block footer %}
        <p>&copy; 2021 Fat Cats Corp.</p>
    {% endblock %}
    </footer>
</body>
</html>
